.FriendsList
{
    background-color: #ffffff;
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 750px;
    height: auto;
    margin: auto;
    padding-bottom: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}
.AddFriend{
    background-color: #0171d3;
    height: 40px;
    border: none;
    border-radius: 5px;
    width: 110px;
    border-radius: 10px;
    color: #FFFF
}

.AddChat{
    background-color: #636363;
    height: 40px;
    border: none;
    border-radius: 5px;
    width: 110px;
    border-radius: 10px;
    color: #FFFF
}

@media (min-width: 1000px) {
    .FriendsList
    {
        background-color: #ffffff;
        border-radius: 40px;
        padding-left: 20px;
        padding-right: 20px;
        width: 750px;
        height: auto;
        margin: auto;
        padding-bottom: 10px;
        padding-bottom: 20px;
        padding-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    }
    .AddFriend{
        background-color: #0171d3;
        height: 40px;
        border: none;
        border-radius: 5px;
        width: 110px;
        border-radius: 10px;
        color: #FFFF
    }
    
    .AddChat{
        background-color: #636363;
        height: 40px;
        border: none;
        border-radius: 5px;
        width: 110px;
        border-radius: 10px;
        color: #FFFF
    }
}