header {
    background-color: #ffffff;
    border-radius: 10px;
    /* padding-left: 20px;
    padding-right: 20px; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.PageHeader
{
    margin-top: 0px;
    padding-bottom: 100px;
    /* position: fixed; */
}

.NavigationBar {
    padding-right: 500px;
}

.NavigationBar #title {
    margin-left: 100px;
    padding-top: 15px;
    position: absolute;
}

.PageHeader img {
    padding-left: 4px;
    border-radius: 50%;
    margin-top: 5px;
    position: absolute;

}

ul.NavigationAddress
{
    list-style: none;
}