.PostListBar
{
    background-color: #ffffff;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 750px;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.PostListBar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
} 

.LikePost {
    background-color: #0171d3;
    height: 40px;
    border: none;
    border-radius: 5px;
    width: 110px;
    border-radius: 10px;
    color: #FFFF
}

.LikePostAlready {
    background-color: #003c70;
    height: 40px;
    border: none;
    border-radius: 5px;
    width: 110px;
    border-radius: 10px;
    color: #FFFF
}

.AddCommentPost{
    background-color: #636363;
    height: 40px;
    border: none;
    border-radius: 5px;
    width: 110px;
    border-radius: 10px;
    color: #FFFF
}

.SharePost{
    background-color: #636363;
    height: 40px;
    border: none;
    border-radius: 5px;
    width: 110px;
    border-radius: 10px;
    color: #FFFF
}
@media (min-width: 1000px) {
    .PostListBar
    {
        background-color: #ffffff;
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        width: 750px;
        margin: auto;
        padding-bottom: 10px;
        padding-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    }
    
    .LikePost{
        background-color: #0171d3;
        height: 40px;
        border: none;
        border-radius: 5px;
        width: 110px;
        border-radius: 10px;
        color: #FFFF
    }
    
    .AddCommentPost{
        background-color: #636363;
        height: 40px;
        border: none;
        border-radius: 5px;
        width: 110px;
        border-radius: 10px;
        color: #FFFF
    }
    
    .SharePost{
        background-color: #636363;
        height: 40px;
        border: none;
        border-radius: 5px;
        width: 110px;
        border-radius: 10px;
        color: #FFFF
    }
}