.PostBar{
    border-radius: 10px;
    height: 40px;
    width: 500px;
    background-color: #FFFF;
    border: none;
    outline: none;
    padding-left: 10px;
    color: #000;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.Posting{
    text-align: center;
}

.SubmitPost{
    background-color: #0171d3;
    height: 40px;
    border: none;
    width: 50px;
    border-radius: 10px;
    color: #FFFF
}
@media (min-width: 1000px) {
    .PostBar{
        border-radius: 10px;
        height: 40px;
        width: 500px;
        background-color: #FFFF;
        border: none;
        outline: none;
        padding-left: 10px;
        color: #000;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }
}