.RegisterMenu
{
    background-color: #ffffff;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: 100px;
    justify-content: flex-end;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.DetailsMenu
{
    background-color: #7568ff;
    border-radius: 50px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 500px;
    margin-left: 100px;
    margin-right: auto;
    color: #FFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.EmailBar{
    border-radius: 5px;
    height: 30px;
    width: 300px;
    background-color: #dadada;
    border: none;
    outline: none;
    padding-left: 10px;
    color: #000;
}

.UsernameBar{
    border-radius: 5px;
    height: 30px;
    width: 300px;
    background-color: #dadada;
    border: none;
    outline: none;
    padding-left: 10px;
    color: #000;
}

.PasswordBar{
    border-radius: 5px;
    height: 30px;
    width: 300px;
    background-color: #dadada;
    border: none;
    outline: none;
    padding-left: 10px;
    color: #000;
}

.Text{
    text-align: center;
}

.SubmitPost{
    background-color: #0088ff;
    height: 50px;
    width: 100%;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    color: #FFFF
}

@media (min-width: 1000px) {
    .RegisterMenu
    {
        background-color: #ffffff;
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        width: 500px;
        margin-left: auto;
        margin-right: 100px;
        justify-content: flex-end;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}