.MessageList
{
    background-color: #ffffff;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: 750px;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}
@media (min-width: 1000px) {
    .MessageList
    {
        background-color: #ffffff;
        border-radius: 30px;
        padding-left: 20px;
        padding-right: 20px;
        width: 750px;
        margin: auto;
        padding-bottom: 10px;
        padding-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    }
}